@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

:root {
  // color
  --blue-color: #247ef4;
  --medium-blue-color: #559af4;
  --light-blue-color: #87b8f3;
  --text-bg-blue-color: #4385f4;
  --grey-color: #666666;
  --light-grey-color: #ececec;
  --bg-grey-color: #f2f4f7;
  --text-bg-grey-color: #999999;
  --red-color: #ff614a;
  // font
  --gowun-font: 'Gowun Dodum', sans-serif;
  --noto-font: 'Noto Sans KR', sans-serif;
}
